<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
      point = "org.eclipse.ui.newWizards">
 	<wizard
	   id = "net.bioclipse.data.medea.NewMedeaProjectWizard"
	   name = "Medea Sample Data Project"
	   project="true"
	   class="net.bioclipse.data.wizards.NewDataProjectWizard"
	   category="net.bioclipse.data"
	   icon="icons/MEDEA.gif">
   	   <description>Install a Project with medea sample data</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension>

  <extension
      point="net.bioclipse.data.install">
      <folder 
      	name="Javascripts"
      	description="Scripts sample data"
      	location="data/Javascripts"
      	wizard="net.bioclipse.data.medea.NewMedeaProjectWizard"
  	    icon="icons/MEDEA.gif"/>
  	  <folder 
      	name="Molecules"
      	description="Sample structures"
      	location="data/Molecules"
      	wizard="net.bioclipse.data.medea.NewMedeaProjectWizard"
  	    icon="icons/MEDEA.gif"/>
  	  <folder 
      	name="Spectra"
      	description="Sample spectra"
      	location="data/Spectra"
      	wizard="net.bioclipse.data.medea.NewMedeaProjectWizard"
  	    icon="icons/MEDEA.gif"/>
  	  <folder 
      	name="SDFfiles"
      	description="SDF files"
      	location="data/SDFfiles"
      	wizard="net.bioclipse.data.medea.NewMedeaProjectWizard"
  	    icon="icons/MEDEA.gif"/>
  </extension>

</plugin>
