<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <!-- extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="bc_medea.predict"
           objectClass="org.eclipse.core.resources.IFile">
          <action
               class="net.bioclipse.plugins.actions.PredictAction"
               enablesFor="+"
               icon="icons/MEDEA.gif"
               id="bc_medea.predictaction"
               label="MS from MEDEA ..."
               menubarPath="net.bioclipse.plugins.predict.action.MenuPredict/group1"/>
         <visibility>
            <or>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.mdlMolFile2D"/>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.cml.singleMolecule3d"/>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.cml.singleMolecule2d"/>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.mdlMolFile3D"/>
           </or>
         </visibility>
         <menu
               id="net.bioclipse.plugins.predict.action.MenuPredict"
               label="Spectrum Prediction"
               path="additions">
            <separator name="group1"/>
         </menu>
      </objectContribution>
      <objectContribution
            id="bc_medea.learn"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="net.bioclipse.plugins.actions.LearnAction"
               enablesFor="+"
               icon="icons/MEDEA.gif"
               id="bc_medea.learnaction"
               label="Learning MS from MEDEA ..."
               menubarPath="additions"/>
         <visibility>
           <or>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.jcampdx"/>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.cml.singleSpectrum"/>
           </or>
         </visibility>
      	 
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bioclipse.plugins.perspective.MedeaPerspective"
            icon="icons/MEDEA.gif"
            id="net.bioclipse.plugins.medea.perspective"
            name="MEDEA"/>
   </extension -->
   
   <!--
     Commented out because this net.bioclipse.compute plugin was deprecated and removed. This wizard
     will need replacement using the Bioclipse2 New World Order.
   -->
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.bioclipse.medea.MedeaCategory"
            name="Medea related"/>
      <wizard
            canFinishEarly="false"
            category="net.bioclipse.medea.MedeaCategory"
            class="net.bioclipse.medea.wizard.NewMedeaWizard"
            hasPages="true"
            icon="icons/MEDEA.gif"
            id="net.bioclipse.medea.wizard.NewMedeaWizard"
            name="Prediction MS"
            project="true"
            preferredPerspectives="net.bioclipse.plugins.perspective.MedeaPerspective">
         <description/>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">                                                  
     <commonWizard type="new"                                                                                     
        wizardId="net.bioclipse.medea.wizard.NewMedeaWizard">
       <enablement>
         <or>
           <adapt type="org.eclipse.core.resources.IFile" />
           <adapt type="org.eclipse.core.resources.IFolder" />
           <adapt type="org.eclipse.core.resources.IProject" />
           <adapt type="org.eclipse.core.resources.IWorkspaceRoot" />
        </or>
       </enablement>
     </commonWizard>
   </extension>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.medea.business.MedeaManager"
            service="net.bioclipse.medea.business.MedeaManagerFactory">
      </scriptContribution>
   </extension>

</plugin>
