<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="bc_medea.predict"
           objectClass="org.eclipse.core.resources.IFile">
          <action
               class="net.bioclipse.plugins.actions.PredictAction"
               enablesFor="+"
               icon="icons/MEDEA.gif"
               id="bc_medea.predictaction"
               label="MS from MEDEA ..."
               menubarPath="net.bioclipse.plugins.predict.action.MenuPredict/group1"/>
         <visibility>
            <or>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.mdlMolFile2D"/>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.cml.singleMolecule3d"/>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.cml.singleMolecule2d"/>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.mdlMolFile3D"/>
           </or>
         </visibility>
         <menu
               id="net.bioclipse.plugins.predict.action.MenuPredict"
               label="Spectrum Prediction"
               path="additions">
            <separator name="group1"/>
         </menu>
      </objectContribution>
      <objectContribution
            id="bc_medea.predict"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="net.bioclipse.plugins.actions.LearnAction"
               enablesFor="+"
               icon="icons/MEDEA.gif"
               id="bc_medea.learnaction"
               label="Learning MS from MEDEA ..."
               menubarPath="additions"/>
         <visibility>
           <or>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.jcampdx"/>
               <objectState
                 name="contentTypeId"
                 value="net.bioclipse.contenttypes.cml.singleSpectrum"/>
           </or>
         </visibility>
      	 
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bioclipse.plugins.perspective.MedeaPerspective"
            icon="icons/MEDEA.gif"
            id="net.bioclipse.plugins.medea.perspective"
            name="MEDEA"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="bc_medea.MedeaCategory"
            name="Medea"/>
      <wizard
            canFinishEarly="false"
            category="bc_medea.MedeaCategory"
            class="net.bioclipse.plugins.wizards.NewAquisitionWizard"
            hasPages="true"
            icon="icons/MEDEA.gif"
            id="bc_medea.NewAquisitionWizard"
            name="new Aquisition Medea Predictions"
            project="true">
         <description/>
      </wizard>
   </extension>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.medea.business.MedeaManager"
            service="net.bioclipse.medea.business.MedeaManagerFactory">
      </scriptContribution>
   </extension>

   <!--
     Commented out because this net.bioclipse.compute plugin was deprecated and removed. This wizard
     will need replacement using the Bioclipse2 New World Order.

    extension
         point="net.bioclipse.compute.computationWizards">
      <category
            id="net.bioclipse.compute.caseCategory"
            name="Medea2"/>
      <wizard
            category="bc_medea.MedeaCategory2"
            class="net.bioclipse.plugins.wizards.NewAquisitionWizard"
            icon="icons/MEDEA.gif"
            id="bc_medea.NewAquisitionWizard"
            name="new Aquisition Reaction Predictions"/>
   </extension>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.medea.business.MedeaManager"
            service="net.bioclipse.medea.business.MedeaManagerFactory">
      </scriptContribution>
   </extension -->

</plugin>
