<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="net.bioclipse.seneca.SenecaJudge">
      <CASEJudge
            class="net.bioclipse.plugins.extensions.WCCMedeaJudge"
            id="WCCMedeaJudge"
            name="WCCMedeaJudge"/>
   </extension>


</plugin>
